@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Home Page";

}
<style type="text/css">
    .jumbotron {
        background-color: aquamarine;
        -moz-background-size: 100% 100%;    
    }
    .flex-item {
        justify-content: space-around;
    }
</style>

<div class="container">
    <div class="jumbotron">

        <h1>Producatori</h1>
        <p class="lead"></p>
        <div style="display: flex" class="flex-item">
            <div style="display: block">
                <img src="~/Content/Manufacturers/torro.png" alt="" width="200" height="200" />
                <p><a href="https://asp.net" class="btn btn-primary btn-lg">Spre bine &raquo;</a></p>
            </div>
            <div style="display: block">
                <img src="~/Content/Manufacturers/torro.png" alt="" width="200" height="200" />
                <p><a href="http://localhost:63960/Manufacturers/Index" class="btn btn-primary btn-lg">Spre bine &raquo;</a></p>
            </div>
            <div style="display: block">
                <img src="~/Content/Manufacturers/torro.png" alt="" width="200" height="200" />
                <p><a href="http://localhost:63960/Manufacturers/Index" class="btn btn-primary btn-lg">Spre bine &raquo;</a></p>
            </div>
            <div style="display: block">
                <img src="~/Content/Manufacturers/torro.png" alt="" width="200" height="200" />
                <p><a href="http://localhost:63960/Manufacturers/Index" class="btn btn-primary btn-lg">Spre bine &raquo;</a></p>
            </div>

        </div>
        <h3>Nu știi cine, dar știi ce? Alege din categorii!</h3>
        <div class="row">
            <div class="col-md-4">
                <h2>Spre Pizza</h2>
                <p>
                    <span style="color:crimson"> Cine nu ar savura o pizza caldă acasă? Dacă ești dintre persoanele acestea fă click pe butonul de mai jos!</span>
                </p>
                <p><a class="btn btn-default" href="http://localhost:63960/Products/Pizza">Meniu Pizza &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Spre Burghere</h2>
                <p>
                    <span style="color: blueviolet">Dorești să guști dintre cele mai bune burghere din Molodova? Atunci apasă butonul!</span>
                </p>
                <p><a class="btn btn-default" href="http://localhost:63960/products/Burghers">Meniul burghere &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Spre Sushi</h2>
                <p>
                    <span style="color:dodgerblue">Poti foarte ușor să găsești produsul dorit di lista noastră de produse sushi</span>
                </p>
                <p><a class="btn btn-default" href="http://localhost:63960/products/Shushi">Meniul Sushi &raquo;</a></p>
            </div>
        </div>
    </div>
</div>